@import 'patterns';

body {
  font-family: "proxima-nova", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  padding-bottom: 40px;

  .carousel {
    margin-bottom: 30px;

    .carousel-caption {
      left: 0;
      right: 0;
      bottom: 15%;
      padding-bottom: 0;
      text-align: left;
      text-shadow: 0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);

      p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
      }
    }
  }

  .marketing {
    h2 {
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
    }

    h4{
      margin-bottom: 5px;

      .text-muted {
        font-weight: normal;
      }
    }

    .points {
      .media {
        h3 {
          font-size: 60px;
          margin: 0;
          padding: 0;
          margin-top: 10px;
        }
        .media-body {
          @include center_container_vertical;
          height: 87px;
          margin: 0;
        }
      }
    }

    .details {
      margin-bottom: 20px;

      h3 {
        margin-top: 0;
      }

      .answer {
        position: relative;
        bottom: 1px;
      }
    }

    .map {
      width: 100%;
      height: 400px;
    }
  }

  .media-object {
    width: 72px;
  }

  .end {
    margin-top: 50px;
    text-align: center;
  }

  footer {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  body {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .btn-large {
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 4px;
    }

    .carousel {
      margin-bottom: 0;

      #background {
        max-width: none;
        height: 300px;
      }
      .carousel-caption {
        p {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
    }

    .marketing {
      .map {
        height: 200px;
      }
    }
  }
}