@import 'patterns';

body {
  padding-bottom: 40px;

  .carousel {
    margin-bottom: 30px;

    .carousel-caption {
      left: 0;
      right: 0;
      text-align: left;
    }
  }

  .marketing {
    padding-left: 15px;
    padding-right: 15px;

    h2 {
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
    }

    h4{
      margin-bottom: 5px;

      .text-muted {
        font-weight: normal;
      }
    }

    .points {
      .media {
        .media-body {
          @include center_container_vertical;
          height: 72px;
        }
      }
    }

    .details {
      margin-bottom: 20px;

      h3 {
        margin-top: 0;
      }

      .answer {
        position: relative;
        bottom: 5px;
      }
    }
  }

  .end {
    margin-top: 50px;
    text-align: center;
  }

  footer {
    margin-top: 20px;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}