@import 'patterns';

body {
  padding-bottom: 40px;

  .carousel {
    margin-bottom: 30px;

    .carousel-caption {
      left: 0;
      right: 0;
      bottom: 15%;
      padding-bottom: 0;
      text-align: left;
      text-shadow: 0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);

      p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
      }
    }
  }

  .marketing {
    h2 {
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
    }

    h4{
      margin-bottom: 5px;

      .text-muted {
        font-weight: normal;
      }
    }

    .points {
      .media {
        .media-body {
          @include center_container_vertical;
          height: 72px;
        }
      }
    }

    .details {
      margin-bottom: 20px;

      h3 {
        margin-top: 0;
      }

      .answer {
        position: relative;
        bottom: 5px;
      }
    }
  }

  .end {
    margin-top: 50px;
    text-align: center;
  }

  footer {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  body {
    .marketing {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}